<h2><b>Scope</h2>

<div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
    <div class="uk-width-expand">
      <p> This workshop aims to unite the GNSS and robotics communities to enhance state estimation for outdoor robot navigation. While GNSS offers a low-cost complement to traditional SLAM, its performance degrades in challenging environments. Recent GNSS advancements share common ground with robotics challenges like SLAM, presenting opportunities for cross-disciplinary innovation. By bringing together experts, industry leaders, and young researchers, this workshop will foster collaboration on shared issues such as error modeling and solver optimization, accelerating progress in both fields.</p>
    </div>
    <div class="uk-width-auto uk-align-center">
		<div class="uk-grid-small uk-child-width-auto uk-margin" uk-grid uk-countdown="date: 2025-10-19T12:45:00+00:00">
		    <div>
		        <div class="uk-countdown-number uk-countdown-days uk-text-xlarge"></div>
		        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>
		    </div>
		    <div class="uk-countdown-separator">:</div>
		    <div>
		        <div class="uk-countdown-number uk-countdown-hours"></div>
		        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>
		    </div>
		    <div class="uk-countdown-separator">:</div>
		    <div>
		        <div class="uk-countdown-number uk-countdown-minutes"></div>
		        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>
		    </div>
		    <div class="uk-countdown-separator">:</div>
		    <div>
		        <div class="uk-countdown-number uk-countdown-seconds"></div>
		        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>
		    </div>
		</div>
    </div>
</div>




