
  <div class="uk-container">

    <h2 class="uk-heading-line"><span><b>Scope</span></h2>

    <p class="uk-text-custom uk-text-justify">
      Robot navigation in large-scale environments requires globally consistent state estimation for planning and coordination. 
      Ranging technologies, most prominently the Global Navigation Satellite System (GNSS), offer an effective and low-cost complementary sensing modality. 
      Yet, robotics research has typically utilized ranging sensors only at the solution level, overlooking raw measurements that offer rich observability and valuable constraints.
    </p>

    <p class="uk-text-custom uk-text-justify">
      Although recent studies demonstrate a growing interest in raw range observations to improve robustness, significant gaps remain across research communities, as key advances are not effectively exchanged. 
      This disconnect is particularly evident in robotic applications, where ranging systems (e.g., GNSS) are frequently degraded by multipath, non-line-of-sight effects, and other signal interference in complex environments.
    </p>

    <p class="uk-text-custom uk-text-justify">
      Recognizing the shared challenges in sensor integration, error modeling, integrity monitoring, and certifiable optimization of ranging observations from diverse ranging systems (e.g., GNSS, Ultra-Wide-Band), this event emphasizes the critical role of ranging technologies in resilient robot navigation. 
      It seeks to identify open challenges and promising directions for future research across domains, while bringing together researchers from diverse communities to exchange knowledge and foster collaboration.
    </p>

    <p class="uk-margin-small-top">
	  <span class="uk-label keyword-label">Keywords</span>
	  <span class="keyword">State estimation</span>
	  <span class="keyword">Sensor fusion</span>
	  <span class="keyword">Raw range observation</span>
	  <span class="keyword">GNSS</span>
	  <span class="keyword">UWB</span>
	  <span class="keyword">Error modeling</span>
	  <span class="keyword">Multipath/NLOS</span>
	  <span class="keyword">Robustness</span>
	  <span class="keyword">Integrity</span>
	  <span class="keyword">Safety</span>
	</p>

	<style>
	  .keyword {
	    display: inline-block;
	    margin: 3px 4px;
	    padding: 3px 10px;
	    border-radius: 9999px;
	    background: rgba(30,135,240,.08);
	    font-size: 0.9rem;
	  }
	  .keyword-label {
		  background-color: #5F92B6; /* custom background */
		  color: #fff;              /* text color */
		}
	</style>

  </div>
