
<h2 class="uk-heading-line"><span><b>Organizers</span></h2>
{% set image1 = resize_image(path="people/person-dummy.jpg", width=1200, op="fit_width") %}
{% set img_weisong = resize_image(path="people/weisong.png", width=709, op="fit_width") %}
{% set img_haoming = resize_image(path="people/o_haoming.png", width=709, op="fit_width") %}
{% set img_darren = resize_image(path="people/o_darren.png", width=709, op="fit_width") %}
{% set img_xikun = resize_image(path="people/o_xikun.png", width=709, op="fit_width") %}
{% set img_lita = resize_image(path="people/o_lita.png", width=709, op="fit_width") %}
{% set img_taro = resize_image(path="people/taro_new.png", width=709, op="fit_width") %}
{% set img_daniel = resize_image(path="people/o_daniel.png", width=709, op="fit_width") %}
{% set img_yibin = resize_image(path="people/o_yibin.png", width=709, op="fit_width") %}
{% set img_johannes = resize_image(path="people/o_johannes.webp", width=709, op="fit_width") %}
{% set img_shenghai = resize_image(path="people/o_shenghai.png", width=709, op="fit_width") %}
{% set img_angela = resize_image(path="people/angela_schoellig_sq.png", width=709, op="fit_width") %}
{% set img_siqi = resize_image(path="people/o_siqi.png", width=709, op="fit_width") %}
{% set logo_tum = resize_image(path="logos/tum.png", width=709, op="fit_width") %}
{% set logo_polyu = resize_image(path="logos/polyU.png", width=709, op="fit_width") %}
{% set logo_dlr = resize_image(path="logos/dlr.png", width=709, op="fit_width") %}
{% set logo_bonn = resize_image(path="logos/uni_bonn.png", width=709, op="fit_width") %}
{% set logo_ntu = resize_image(path="logos/ntu.png", width=709, op="fit_width") %}
{% set logo_chiba = resize_image(path="logos/chiba.png", width=709, op="fit_width") %}
{% set logo_sf = resize_image(path="logos/sf.png", width=709, op="fit_width") %}
<style>
  .organizer-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.organizer-card {
  border-radius: 10px;
  background:
      linear-gradient(#fff, #fff) padding-box,
      linear-gradient(135deg, rgba(30,135,240,.5), rgba(111,66,193,.5)) border-box;
	border: 1px solid transparent;
	box-shadow: 0 10px 10px rgba(0,0,0,.06);
}
.organizer-card img {
  transition: transform 0.25s ease;
}
.organizer-card:hover img {
  transform: scale(1.05);
}
.organizer-card {
	  min-height: 150px;   /* all cards at least 280px tall */
	  display: flex;       /* ensures content aligns properly */
	  flex-direction: column;
	  justify-content: space-between; /* keeps spacing nice */
	}
.organizer-name {
  font-weight: 700;   /* bold */
  color: #1e87f0;     /* keep default text color */
  text-decoration: none;
}
.organizer-name:hover {
  color: #1e87f0;     /* UIKit blue on hover */
}
</style>

<div class="uk-container">

<div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid >

  <!-- Organizer 1 -->
  <div>
    <div class="uk-card uk-card-default uk-card-body uk-card-small organizer-card">
      <div class="uk-grid-small uk-flex-middle" uk-grid >
        <div class="uk-width-auto">
          <img class="uk-border-circle organizer-avatar" src="{{ img_haoming.url }}" alt="Dr.-Ing. Haoming Zhang">
        </div>
        <div class="uk-width-expand ">
          <h5 class="uk-margin-remove"><a href="https://hz658832.github.io/" target="_blank" class="organizer-name">Dr.-Ing. Haoming Zhang</a></h5>
          <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
              <img data-src="{{ logo_tum.url }}" alt="Endorsing organization logo" 
             class="uk-border-rounded uk-margin-small-top" uk-img
             style="max-width:200px; width:100%; height:auto;">
            </div>
            <div>
              <p class="uk-text-small uk-margin-remove uk-text-right">
                Postdoctoral Researcher<br>LSY Lab<br>Technical University of Munich<br>Germany
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Organizer 2 -->
  <div>
    <div class="uk-card uk-card-default uk-card-body uk-card-small organizer-card">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle organizer-avatar" src="{{ img_darren.url }}" alt="Dr. Feng (Darren) Huang">
        </div>
        <div class="uk-width-expand">
          <h5 class="uk-margin-remove"><a href="https://darrenwong.github.io/" target="_blank" class="organizer-name">Dr. Feng (Darren) Huang</a></h5>
          <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
              <img data-src="{{ logo_polyu.url }}" alt="Endorsing organization logo" 
             class="uk-border-rounded uk-margin-small-top" uk-img
             style="max-width:500px; width:100%; height:auto;">
            </div>
            <div>
            <p class="uk-text-small uk-margin-remove uk-text-right">
              Postdoctoral Researcher<br>TAS Lab<br>Hong Kong Polytechnic University<br>Hong Kong
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Organizer 3 -->
  <div>
    <div class="uk-card uk-card-default uk-card-body uk-card-small organizer-card">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle organizer-avatar" src="{{ img_yibin.url }}" alt="Yibin Wu">
        </div>
        <div class="uk-width-expand">
          <h5 class="uk-margin-remove"><a href="https://yibinwu.github.io/" target="_blank" class="organizer-name">Yibin Wu</a></h5>
          <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
              <img data-src="{{ logo_bonn.url }}" alt="Endorsing organization logo" 
             class="uk-border-rounded uk-margin-small-top" uk-img
             style="max-width:200px; width:100%; height:auto;">
            </div>
            <div>
              <p class="uk-text-small uk-margin-remove uk-text-right">
                PhD Student<br>IGG<br>University of Bonn<br>Germany
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Organizer 4 -->
  <div>
    <div class="uk-card uk-card-default uk-card-body uk-card-small organizer-card">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle organizer-avatar" src="{{ img_xikun.url }}" alt="Xikun Liu">
        </div>
        <div class="uk-width-expand">
          <h5 class="uk-margin-remove"><a href="https://xikunliu-huskit.github.io/" target="_blank" class="organizer-name">Xikun Liu</a></h5>
          <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
              <img data-src="{{ logo_polyu.url }}" alt="Endorsing organization logo" 
             class="uk-border-rounded uk-margin-small-top" uk-img
             style="max-width:500px; width:100%; height:auto;">
            </div>
            <div>
              <p class="uk-text-small uk-margin-remove uk-text-right">
                PhD Student<br>TAS Lab<br>Hong Kong Polytechnic University<br>Hong Kong
              </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Organizer 5 -->
  <div>
    <div class="uk-card uk-card-default uk-card-body uk-card-small organizer-card">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle organizer-avatar" src="{{ img_shenghai.url }}" alt="Dr. Shenghai Yuan">
        </div>
        <div class="uk-width-expand">
          <h5 class="uk-margin-remove"><a href="https://snakehaihai.github.io//" target="_blank" class="organizer-name">Dr. Shenghai Yuan</a></h5>
          <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
              <img data-src="{{ logo_ntu.url }}" alt="Endorsing organization logo" 
             class="uk-border-rounded uk-margin-small-top" uk-img
             style="max-width:300px; width:100%; height:auto;">
            </div>
            <div>
                <p class="uk-text-small uk-margin-remove uk-text-right">
                  Senior Research Fellow<br>Nanyang Technological University<br>Singapore
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Organizer 6 -->
  <div>
    <div class="uk-card uk-card-default uk-card-body uk-card-small organizer-card">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle organizer-avatar" src="{{ img_daniel.url }}" alt="Dr. Daniel Medina">
        </div>
        <div class="uk-width-expand">
          <h5 class="uk-margin-remove"><a href="https://www.dlr.de/en/kn" target="_blank" class="organizer-name">Dr. Daniel Medina</a></h5>
          <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
              <img data-src="{{ logo_dlr.url }}" alt="Endorsing organization logo" 
             class="uk-border-rounded uk-margin-small-top" uk-img
             style="max-width:300px; width:100%; height:auto;">
            </div>
            <div>
          <p class="uk-text-small uk-margin-remove uk-text-right">
            R&D Engineer, Group Leader<br>IKN<br>German Aerospace Center (DLR)<br>Germany
          </p>
          </div>
      </div>
        </div>
      </div>
    </div>
  </div>

		<!-- Organizer 7 -->
  <div>
    <div class="uk-card uk-card-default uk-card-body uk-card-small organizer-card">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle organizer-avatar" src="{{ img_taro.url }}" alt="Dr. Taro Suzuki">
        </div>
        <div class="uk-width-expand">
          <h5 class="uk-margin-remove"><a href="http://www.taroz.net/" target="_blank" class="organizer-name">Dr. Taro Suzuki</a></h5>
          <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
              <img data-src="{{ logo_chiba.url }}" alt="Endorsing organization logo" 
             class="uk-border-rounded uk-margin-small-top" uk-img
             style="max-width:300px; width:100%; height:auto;">
            </div>
            <div>
          <p class="uk-text-small uk-margin-remove uk-text-right">
            Principal Research Scientist<br>Chiba Institute of Technology<br>Japan
          </p>
          </div>
      </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Organizer 8 -->
  <div>
    <div class="uk-card uk-card-default uk-card-body uk-card-small organizer-card">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle organizer-avatar" src="{{ img_weisong.url }}" alt="Prof. Dr. Weisong Wen">
        </div>
        <div class="uk-width-expand">
          <h5 class="uk-margin-remove"><a href="https://polyu-taslab.github.io/team/" target="_blank" class="organizer-name">Prof. Dr. Weisong Wen</a></h5>
          <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
              <img data-src="{{ logo_polyu.url }}" alt="Endorsing organization logo" 
             class="uk-border-rounded uk-margin-small-top" uk-img
             style="max-width:500px; width:100%; height:auto;">
            </div>
            <div>
          <p class="uk-text-small uk-margin-remove uk-text-right">
            Assistant Professor<br>TAS Lab<br>Hong Kong Polytechnic University<br>Hong Kong
          </p>
          </div>
      </div>
        </div>
      </div>
    </div>
  </div>

	  <!-- Organizer 9 -->
  <div>
    <div class="uk-card uk-card-default uk-card-body uk-card-small organizer-card">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle organizer-avatar" src="{{ img_johannes.url }}" alt="Prof. Dr.-Ing. Johannes Betz">
        </div>
        <div class="uk-width-expand">
          <h5 class="uk-margin-remove"><a href="https://www.professoren.tum.de/betz-johannes" target="_blank" class="organizer-name">Prof. Dr.-Ing. Johannes Betz</a></h5>
          <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
              <img data-src="{{ logo_tum.url }}" alt="Endorsing organization logo" 
             class="uk-border-rounded uk-margin-small-top" uk-img
             style="max-width:500px; width:100%; height:auto;">
            </div>
            <div>
          <p class="uk-text-small uk-margin-remove uk-text-right">
            Full Professor<br>AVS Lab<br>Technical University of Munich<br>Germany
          </p>
          </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Organizer 10 -->
  <div>
    <div class="uk-card uk-card-default uk-card-body uk-card-small organizer-card">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle organizer-avatar" src="{{ img_siqi.url }}" alt="Prof. SiQi Zhou, PhD">
        </div>
        <div class="uk-width-expand">
          <h5 class="uk-margin-remove"><a href="https://siqizhou.com/" target="_blank" class="organizer-name">Prof. SiQi Zhou, PhD</a></h5>
          <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
              <img data-src="{{ logo_sf.url }}" alt="Endorsing organization logo" 
             class="uk-border-rounded uk-margin-small-top" uk-img
             style="max-width:500px; width:100%; height:auto;">
            </div>
            <div>
          <p class="uk-text-small uk-margin-remove uk-text-right">
            Assistant Professor<br>Simon Faser University<br>Canada
          </p>
          </div>
      </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Organizer 11 -->
  <div>
    <div class="uk-card uk-card-default uk-card-body uk-card-small organizer-card">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle organizer-avatar" src="{{ img_angela.url }}" alt="Prof. Dr.sc. Angela Schoellig">
        </div>
        <div class="uk-width-expand">
          <h5 class="uk-margin-remove"><a href="https://www.ce.cit.tum.de/lsy/prof-angela-schoellig/" target="_blank" class="organizer-name">Prof. Dr.sc. Angela Schoellig</a></h5>
          <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
              <img data-src="{{ logo_tum.url }}" alt="Endorsing organization logo" 
             class="uk-border-rounded uk-margin-small-top" uk-img
             style="max-width:500px; width:100%; height:auto;">
            </div>
            <div>
          <p class="uk-text-small uk-margin-remove uk-text-right">
            Full Professor<br>LSY Lab<br>Technical University of Munich<br>Germany
          </p>
          </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Organizer 12 -->
  <div>
    <div class="uk-card uk-card-default uk-card-body uk-card-small organizer-card">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle organizer-avatar" src="{{ img_lita.url }}" alt="Prof. Dr. Li-Ta Hsu">
        </div>
        <div class="uk-width-expand">
          <h5 class="uk-margin-remove"><a href="https://www.polyu.edu.hk/aae/ipn-lab/us/index.html" target="_blank" class="organizer-name">Prof. Dr. Li-Ta Hsu</a></h5>
          <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
              <img data-src="{{ logo_polyu.url }}" alt="Endorsing organization logo" 
             class="uk-border-rounded uk-margin-small-top" uk-img
             style="max-width:500px; width:100%; height:auto;">
            </div>
            <div>
          <p class="uk-text-small uk-margin-remove uk-text-right">
            Associate Professor<br>IPN Lab<br>Hong Kong Polytechnic University<br>Hong Kong
          </p>
          </div>
      </div>
        </div>
      </div>
    </div>
  </div>


</div>
</div>
