

<h2><b>Tentative Schedule</b></h2>

<script>
  dayjs.extend(window.dayjs_plugin_utc)
</script>

<div class="uk-alert-danger" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p>
    All times are displayed in the local timezone of your browser.
    Detected timezone offset compared to UTC: {{ macros::timezone_offset(date='2025-10-19', time='16:00') }}
  </p>
</div>

<div class="uk-alert-info" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p>
    <b>Slides</b> of all keynotes will be made avilable after the workshop.
  </p>
</div>

<table class="uk-table uk-table-small uk-table-striped">
  <tbody>
    {% set data = load_data(path="content/schedule.yaml") %}
    {% for day in data.schedule %}
      <tr>
        <td>
        </td>
        <td>
          &nbsp;
          <br>
          <b>{{ day.title }}</b>
        </td>
      </tr>
      {% for session in day.sessions %}
        <tr>
          <td class="uk-width-1-3">
            {{ macros::local_date(date=day.date, time=session.starts) }},
            {{ macros::local_time(date=day.date, time=session.starts) }}
            {% if session.ends %}
              -
              {{ macros::local_time(date=day.date, time=session.ends) }}
            {% endif %}
          </td>
          <td class="uk-width-2-3">
            {% if session.url %}
              <a href="{{ session.url }}" target="_blank">{{ session.title }}</a>
            {% else %}
              {{ session.title }}
            {% endif %}
            <br>
            {% if session.subtitle %}
              {{ session.subtitle }}
            {% endif %}
            {% if session.presenters %}
              <div class="uk-text-small">
                {% if session.presenterurl %}
                  <a href="{{ session.presenterurl }}" target="_blank">{{ session.presenters | markdown(inline=true) | safe }}</a>
                {% else %}
                  <div class="uk-text-small">
                    {{ session.presenters | markdown(inline=true) | safe }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
            {% if session.affiliation %}
              <div class="uk-text-small">
                {{ session.affiliation | markdown(inline=true) | safe }}
              </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>

<br>