<footer class="uk-section uk-section-muted uk-padding-small">
  <div class="uk-container">

    <!-- Row 1 -->
    <div class="uk-grid uk-child-width-1-3@s uk-text-small" uk-grid>

      <!-- Source -->
      <div>
        <h5 class="uk-text-uppercase uk-margin-small-bottom">Source</h5>
        <ul class="uk-iconnav uk-margin-remove">
          <li>
            <a href="https://github.com/hz658832/RobotMeetGNSS"
               target="_blank"
               uk-icon="icon: github"
               aria-label="GitHub repository">
            </a>
          </li>
        </ul>
      </div>

      <!-- Contact -->
      <div>
        <h5 class="uk-text-uppercase uk-margin-small-bottom">Contact</h5>
        <ul class="uk-list uk-list-collapse">
          <li><a href="mailto:haoming.zhang@tum.de">Haoming Zhang</a></li>
          <li><a href="mailto:darren-f.huang@connect.polyu.hk">Feng Huang</a></li>
          <li><a href="mailto:lt.hsu@polyu.edu.hk">Li-Ta Hsu</a></li>
        </ul>
      </div>

      <!-- Acknowledgement (short) -->
      <div>
        <h5 class="uk-text-uppercase uk-margin-small-bottom">Acknowledgement</h5>
        <p class="uk-margin-remove">
          Designed by <a href="mailto:haoming.zhang@tum.de">Haoming Zhang</a><br>
          Template from <a href="https://coderefinery.org/" target="_blank">CodeRefinery</a>
        </p>
      </div>

    </div>

    <!-- Row 2: Microsoft CMT -->
    <div class="uk-margin-top">
      <p class="uk-text-muted uk-text-small uk-margin-remove">
        The Microsoft CMT service was used for managing the peer-reviewing
        process for this conference. This service was provided for free by
        Microsoft, who bore all associated expenses, including Azure cloud
        services as well as software development and support.
      </p>
    </div>

    <hr class="uk-margin-small">

    <p class="uk-text-center uk-text-muted uk-text-small uk-margin-remove">
      © 2026 Robot Meets GNSS
    </p>

  </div>
</footer>
