<div class="uk-child-width-expand@s" uk-grid>

  <div>
    <h4>Source</h4>
    <ul class="uk-iconnav">
      <li>
        <a href="https://github.com/hz658832/RobotMeetGNSS" target="_blank" uk-icon="icon: github">GitHub</a>
      </li>
      <!--li>
        <a rel="me" href="https://fosstodon.org/@coderefinery" target="_blank" uk-icon="icon: social">Mastodon</a>
      </li-->
      <!--li>
        <a href="https://www.linkedin.com/company/coderefinery-research-software-development/?viewAsMember=true" target="_blank" uk-icon="icon: linkedin">LinkedIn</a>
      </li-->
    </ul>
  </div>

  <div>
    <h4>Contact</h4>
    <p>
      <a href="mailto:haoming.zhang@tum.de">Haoming Zhang</a><br>
      <a href="mailto:darren-f.huang@connect.polyu.hk">Feng Huang</a><br>
      <a href="mailto:lt.hsu@polyu.edu.hk">Li-Ta Hsu</a>
    </p>
  </div>

  <div>
    <h4>Acknowledgement</h4>
    <p>
      Website designed by <a href="mailto:haoming.zhang@tum.de">Haoming Zhang</a><br>
    </p>
    <p>
      Website template from <a href="https://coderefinery.org/">CODE REFINERY</a>
    </p>
  </div>

</div>
