{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block content %}
  <div>
    {% set image = resize_image(path="header_tighter.png", width=1200, op="fit_width") %}
    <img src="{{ image.url }}" alt="header image"/>
    <p></p>
  </div>
  <div class="uk-margin-bottom" uk-grid>
    <div class="uk-width-expand@m">
      <h1><b>{{ config.title }}</h1>
      <h3 class="uk-align-right">Exploring Synergies and Challenges of Global Navigation Satellite Systems in Robotics</h3>
    </div>
  </div>
  <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light uk-margin-medium-bottom">
    <div uk-grid>
      <div class="uk-width-expand@m">
        {% include "news.html" %}
      </div>
      <!--div class="uk-width-expand@m">
        {% include "links.html" %}
      </div-->
    </div>
  </div>

  <div class="uk-width-1-1@m">
      {% include "01_scope.html" %}
  </div>
  <hr class="uk-divider-icon">
  <div class="uk-width-1-1@m">
    {% include "02_speakers.html" %}
  </div>
  <hr class="uk-divider-icon">
  <!--div class="uk-width-1-1@m">
      {% include "04_registration.html" %}
  </div-->

  <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
    <div class="uk-width-1-2@m">
      {% include "05_schedule.html" %}
    </div>
    <div class="uk-width-1-2@m">
      {% include "06_organization.html" %}
    </div>
  </div>

  <hr class="uk-divider-icon">

  <div class="uk-width-1-1@m">
      {% include "03_organizers.html" %}
  </div>

{% endblock content %}
